body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", serif;
}

h1, h2, h3, h4, h5, h6, p, ul, li, dl, dt {
  margin: 0; padding: 0;
}

a {
  color: #444;
}

#app {
  max-width: 600px;
  margin: auto;
  padding: 10px;
  font-size: 18px;
}

#header {
  display: grid;
  grid-template:
    "logo name maple"
  ;
  grid-template-columns: 100px 1fr min-content;
  grid-template-rows: 100px;
  gap: 20px;
  margin-bottom: 10px;
}

#logo {
  grid: logo;
  width: 100px;
  height: 100px;
}

#logo img {
  height: 100%;
  border-radius: 500px;
}

h3 a {
  color: black;
}

h3 span {
  font-weight: 400;
  font-size: smaller;
}

#name {
  grid: name;
  display: flex;
  align-items: center;
  font-size: 14px;
}

#maple {
  grid: maple;
  display: flex;
  place-items: center;
}

#content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.box {
  display: grid;
  align-content: start;
  gap: 10px;
  padding: 10px 12px;
  background: #eee;
  border-radius: 10px;
}

.box-description {
  background: #F6AB65;
  color: rgba(0, 0, 0, 0.8);
}

.box-description a {
  color: rgba(0, 0, 0, 0.8);
}

.box-arkipel {
  min-height: 400px;
  background: url('../img/bg_arkipel.jpg');
  background-position: bottom center;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #00ccdb;
  color: rgba(20, 20, 40, 0.9);
}

.box-arkipel h2 {
  font-family: "Bungee Shade";
  text-align: center;
  font-size: 36px;
}

.box-arkipel p {
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.8);
}

.box-arkipel a {
  padding: 10px;
  margin: auto;
  color: #000;
  background: rgba(255, 255, 255, 0.8);
}

.box-code {
  background: url('../img/bg_code.jpg') #222;
  background-position: top center;
  color: rgba(255, 255, 255, 0.9);
}

.box-code h2 { color: rgba(255, 255, 255, 0.9); }
.box-code h3 * { color: rgba(255, 255, 255, 0.9); }
.box-code p a { color: rgba(255, 255, 255, 0.6); }

.box-profiles {
  background: rgb(170, 204, 170);
  padding-bottom: 20px;
}

#profiles {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  list-style-type: none;
}

#profiles li a {
  display: flex;
  align-items: center;
  background: #fff;
  /* border-radius: 4px; */
  box-shadow:
    1px 1px 0 rgb(10, 44, 10),
    2px 2px 0 rgb(10, 44, 10),
    3px 3px 0 rgb(10, 44, 10),
    4px 4px 0 rgb(10, 44, 10),
    5px 5px 0 rgb(10, 44, 10),
    6px 6px 0 rgb(10, 44, 10)
  ;
}

#profiles li a:active {
  transform: translate(4px, 4px);
  box-shadow:
    1px 1px 0 rgb(10, 44, 10),
    2px 2px 0 rgb(10, 44, 10)
  ;
}

#profiles li img {
  height: 24px;
  width: 24px;
  margin: 0 4px 0 0;
}

#profiles li a {
  margin: 4px 0;
  padding: 10px;
  text-decoration: none;
}

.project p {
	color: #aaa;
	font-style: italic;
}

@font-face {
  font-family: "Bungee Shade";
  src: url("../fonts/BungeeShade-Regular.ttf");
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PT_Sans-Web-Regular.ttf");
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PT_Sans-Web-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PT_Sans-Web-Italic.ttf");
  font-style: italic;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PT_Sans-Web-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}

@media all and (max-width: 700px) {
  #app {
    max-width: 100%;
    padding: 10px 0 0 0;
  }

  #header {
    padding: 0 10px;
  }

  .box {
    border-radius: 0;
  }
}
