body {

}

h1, h2, h3, h4, h5, h6 {
  margin: 10px 0; padding: 0;
}

#profiles {
  margin: 0; padding: 0;
  list-style-type: none;
}

#profiles li {
  display: flex;
  align-items: center;
  margin: 4px 0; padding: 0;
}

#profiles li img {
  margin: 0 4px 0 0;
}

a {
  color: #444;
}
